<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gas.SA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img class="img" src="assets/icon/logo1.jpg"> </ion-img>



  <ion-row>
    <ion-col> 
    <ion-button class="register" type="submit" color="success" (click)="onRegister()" 
    >Registrar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
